# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Store.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Programming\2021_05_23_Store\Store\.idea\.idea.Store\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
